<div id="welcome-page">

  <h1>Welcome to Pea Patch</h1>

</div>

<div id="sign-in">


  <%= form_tag '/sessions/create' do%>
  <ul>
    <li><%= text_field_tag :username , nil, placeholder: "Username" %></li>
    <li><%= password_field_tag :password, nil, placeholder: "Password" %> </li>
    <li><%= submit_tag "Sign In" %> </li>
  </ul>
  <% end %>

  <%= link_to "OR Sign In With Twitter", "/auth/twitter" %>


</div>

<div id="new-account">
  <%= link_to "OR Create New User Account", new_user_path %>

</div>


<div class="row">
  <div class="col-xs-12 col-sm-6">
    NEWS FEED
  </div>

  <div class="col-xs-12 col-sm-6">
    <%= image_tag("whirled-peas.jpg", :class => "calendar-image") %>
  </div>

</div>
