
  <div id="calendar-frame" class = "table-responsive">


  <table id="table-style" class = "table" >
    <h2 class="calendar-heading"> <strong><%= @date.strftime("%B %Y") %></strong></h2>


    <tr>
      <th>SUN</th>
      <th>MON</th>
      <th>TUE</th>
      <th>WED</th>
      <th>THU</th>
      <th>FRI</th>
      <th>SAT</th>
    </tr>

  <%  (0..@weeks).to_a.each do |idx| %>

    <tr id = <%= "row#{idx}"%> >

      <% (0..6).to_a.each do |idy| %>

        <td id = <%= "entry#{idx}#{idy}" %> >
            <div class = <%=  %>>
              <%= "#{(@fdofw +(idx*7 +idy)).strftime("%-d")}" %>
            </div>

            <div class = "entry">
                <%= "#{Event.entries(@fdofw +(idx*7 +idy))}" %>
            </div>
        </td>


      <% end %>

    </tr>

  <% end %>

  </table>

</div>
