<!DOCTYPE html>
<html>
<head>
  <title>PeaPatch</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= link_to "Sign Up/Sign In", "/auth/developer" %>

<%= yield %>

</body>
</html>
